.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
}

.inner {
  width: var(--default-layout-width);
  height: 100%;
  padding: 0 var(--default-layout-horizontal-spacer);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
}

//Action
.actions {
  display: flex;
  align-items: center;
}
.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: transparent;
}
.action-btn {
  position: relative;
  cursor: pointer;

  font-size: 2.2rem;
  color: #161823;
  background-color: transparent;
  
  display: flex;
  align-items: center;
  padding: 4px 10px;
}

.action-btn-upload {
  min-width: 110px;
  height: 36px;

  padding: 0 16px;
  margin-right: 10px;

  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;

  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 8px;
  }
}
.badge {
  position: absolute;

  top: -3px;
  right: 0px;
  height: 2rem;
  padding: 0px 6px;
  line-height: 2rem;

  border-radius: 10px;
  background-color: var(--primary);
  
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--font-family);
}
.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
